<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
























<div>
  <h2>Första hämtningen vid nytt projekt.</h2>
<p>Hämta Första gången https::::: https://github.com/AngelaDanielsson/APCountries.git</p>
<p>Hämta Första gången ssh::::: git@github.com:AngelaDanielsson/APCountries.git</p>
<p>Skapa en tom mapp och gå till denna</p>
<p>öppna VC, cmd och skriv in: dir enter</p>
<p>git clone https://github.com/AngelaDanielsson/APCountries.git .</p>
<p>Börja jobba.</p>

<h2>Spara till GitHub, som ägare</h2>
<p>Spara CTRL S</p>
<p>git add .</p>
<p>git commit -m ""</p>
<p>git remote -v</p>
<p>git push</p>

<h2>Petter fattar lite mer</h2>

<h2>Skapa nyklar och rättigheter</h2>
<p>git config core.sshCommand 'ssh -i C:\\User\\NAMN\\.ssh\\github_matser'</p>
<p>git remote add github git@github.com:AngelaDanielsson/APCountries.git</p>
<p>git push github master</p>
<p>LÖSEN TILL GIT KONTOT</p>


<h2>Hämta och se diff inför varje ny start</h2>
<p>git diff</p>
<p>git status</p>
<p>git pull</p>

<h2>Rensa historiken</h2>
<p>https://stackoverflow.com/questions/13716658/how-to-delete-all-commit-history-in-github</p>
<p>git checkout --orphan latest_branch</p>
<p>git add -A</p>
<p>git commit -am "Ren historik"</p>
<p>git branch -D master</p>
<p>git branch -m master</p>
<p>git push -f origin master</p>
</div>

<div>
  <H1>Branches</H1>
  Branches = En kopia av orginalet.
  Man jobbar i branch för att slippa förstöra orginalet med kod som kanske inte är funktionell.
  <ol>
      <li>cmd: git branch NAMN Exempel git branch nyttbranchnamn</li>
<p>Nu måste man byta, då master står som aktiv.</p>
  <li>git checkout nyttbranchnamn Då cheackar man ut den man arbetar i och checkar in i den man skriver.</li>
  <li>Arbeta i den nya. När denna är fullt klar och fungerar. Spara den ctrl S.</li>
  <li>Pusha den till git, så kan alla se den.</li>
  <li>När alla är eniga, checkar man ut: git checkout master</li>
  <li>För att slå samman dessa: git merge nyttbranchnamn.</li>
  <li>Kör en git add .</li>
  <li>Sedan en git commit -m “Sammanslagning av nyttbrachnamn och master”</li>
  <li>Kör sedan en push igen.</li>
  </ol>

</div>

