<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Första hämtningen vid nytt projekt.</h2>
<p>Hämta Första gången https::::: https://github.com/AngelaDanielsson/APCountries.git</p>
<p>Hämta Första gången ssh::::: git@github.com:AngelaDanielsson/APCountries.git</p>
<p>Skapa en tom mapp och gå till denna</p>
<p>öppna VC, cmd och skriv in: dir enter</p>
<p>git clone https://github.com/AngelaDanielsson/APCountries.git .</p>
<p>Börja jobba.</p>

<h2>Spara till GitHub, som ägare</h2>
<p>Spara CTRL S</p>
<p>git add .</p>
<p>git commit -m ""</p>
<p>git remote -v</p>
<p>git push</p>

<h2>Petter fattar lite mer</h2>

<h2>Skapa nyklar och rättigheter</h2>
<p>git config core.sshCommand 'ssh -i C:\\User\\NAMN\\.ssh\\github_matser'</p>
<p>git remote add github git@github.com:AngelaDanielsson/APCountries.git</p>
<p>git push github master</p>
<p>LÖSEN TILL GIT KONTOT</p>


<h2>Hämta och se diff inför varje ny start</h2>
<p>git diff</p>
<p>git status</p>
<p>git pull</p>

<h2>Rensa historiken</h2>
<p>https://stackoverflow.com/questions/13716658/how-to-delete-all-commit-history-in-github</p>
<p>git checkout --orphan latest_branch</p>
<p>git add -A</p>
<p>git commit -am "Ren historik"</p>
<p>git branch -D master</p>
<p>git branch -m master</p>
<p>git push -f origin master</p>

